@import '../node_modules/@angular/material/core/theming/all-theme';

@include md-core();
$app-primary: md-palette($md-light-blue, 500, 100, 700);
$app-accent:  md-palette($md-pink, A200, A100, A400);
$app-warn:    md-palette($md-red);
$app-theme: md-light-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);

.fill-remaining-space {
  flex: 1 1 auto;
}

body {
  background-color: #f8f8f8;
  font-family: 'Muli', sans-serif;
  padding: 0;
  margin: 0;
}

.sebm-google-map-container {
  width: 450px;
  height: 450px;
}

@import "./imports/material-layout";