<ion-navbar *navbar>
  <ion-title>Socially</ion-title>
</ion-navbar>

<ion-content padding>
  <ion-card *ngFor="let party of parties">
    <img *ngIf="party.images" [src]="party | displayMainImage">
    <ion-card-content>
      <ion-card-title>
        {{party.name}}
      </ion-card-title>
      <p>
        {{party.description}}
      </p>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col text-right>
        <ion-badge>
          yes {{party | rsvp:'yes'}}
        </ion-badge>
        <ion-badge item-center dark>
          maybe {{party | rsvp:'maybe'}}
        </ion-badge>
        <ion-badge item-center danger>
          no {{party | rsvp:'no'}}
        </ion-badge>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
