<md-content layout="row" layout-align="center start" layout-fill layout-margin>
  <md-whiteframe layout="column" flex flex-md="50" flex-lg="50" flex-gt-lg="33" class="md-whiteframe-z2" layout-fill>
    <md-toolbar class="md-primary" color="primary">
      Recover Your Password
    </md-toolbar>

    <div layout="column" layout-fill layout-margin layout-padding>
      <form [formGroup]="recoverForm" #f="ngForm" (ngSubmit)="recover()"
        layout="column" layout-fill layout-padding layout-margin>

        <md-input formControlName="email" type="email" placeholder="Email"></md-input>

        <div layout="row" layout-align="space-between center">
          <button md-raised-button class="md-primary" type="submit" aria-label="Recover">Recover</button>
        </div>
      </form>

      <div [hidden]="error == ''">
        <md-toolbar class="md-warn" layout="row" layout-fill layout-padding layout-margin>
          <p class="md-body-1">{{ error }}</p>
        </md-toolbar>
      </div>

      <md-divider></md-divider>

      <div layout="row" layout-align="center">
        <a md-button [routerLink]="['/login']">Remember your password?</a>
      </div>
    </div>
  </md-whiteframe>
</md-content>
