<div class="form-container">
  <div class="container-background">
    <div class="form-content">
      <div class="form-center">
        <h1>Your party is missing?</h1>
        <h2>Add it now! ></h2>
      </div>
      <div class="form-center">
        <form *ngIf="user" [formGroup]="addForm" (ngSubmit)="addParty(); upload.reset();">
          <div style="display: table-row">
            <div class="form-inputs">
              <md-input dividerColor="accent" formControlName="name" placeholder="Party name"></md-input>
              <br/>
              <md-input dividerColor="accent" formControlName="description" placeholder="Description"></md-input>
              <br/>
              <md-input dividerColor="accent" formControlName="location" placeholder="Location name"></md-input>
              <br/>
              <md-checkbox formControlName="public">Public party?</md-checkbox>
              <br/><br/>
              <parties-upload #upload (onFile)="onImage($event)"></parties-upload>
              <button color="accent" md-raised-button type="submit">Add my party!</button>
            </div>
            <div class="form-extras">
              <sebm-google-map class="new-party-map"
                               [latitude]="newPartyPosition.lat"
                               [longitude]="newPartyPosition.lng"
                               [zoom]="8"
                               (mapClick)="mapClicked($event)">
                <sebm-google-map-marker
                  [latitude]="newPartyPosition.lat"
                  [longitude]="newPartyPosition.lng">
                </sebm-google-map-marker>
              </sebm-google-map>
            </div>
          </div>
        </form>
        <div *ngIf="!user">
          Please login in order to create new parties!
        </div>
      </div>
    </div>
  </div>
</div>