<form *ngIf="party" (submit)="saveParty()">
  <label>Name</label>
  <input type="text" [(ngModel)]="party.name" name="name">

  <label>Description</label>
  <input type="text" [(ngModel)]="party.description" name="description">

  <label>Location</label>
  <input type="text" [(ngModel)]="party.location" name="location">

  <button type="submit">Save</button>
  <a [routerLink]="['/']">Cancel</a>
</form>

<p>Users to invite:</p>
<ul>
  <li *ngFor="let user of users | async">
    <div>{{user | displayName}}</div>
    <button (click)="invite(user)">Invite</button>
  </li>
</ul>
