.file-uploading {
  opacity: 0.3;
}

.file-is-over {
  opacity: 0.7;
}

.parties-update-container {
  width: 90%;
  margin: 15px;

  .thumbs {
    margin-top: 10px;
    margin-bottom: 10px;

    .clear {
      clear: both;
    }

    .thumb {
      float: left;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      margin-right: 5px;

      img {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%
      }
    }
  }
}

[filedrop] {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border: 3px dashed rgba(255, 255, 255, 0.7);
}