<parties-form></parties-form>

<div class="parties-list-container">
  <div class="parties-list">
    <md-card class="filter-card">
      <h3>Filter Parties</h3>
      <form>
        By Location: <md-input dividerColor="primary" type="text" #searchtext placeholder="Enter Location"></md-input>
        <button md-button (click)="search(searchtext.value)">Find</button>
        <br />
        Sort by name:
        <select class="form-control" #sort (change)="changeSortOrder(sort.value)">
          <option value="1" selected>Ascending</option>
          <option value="-1">Descending</option>
        </select>
      </form>
    </md-card>

    <pagination-controls class="pagination" (pageChange)="onPageChanged($event)"></pagination-controls>

    <md-card *ngFor="let party of parties | async" class="party-card">
      <img *ngIf="party.images && party.images.length > 0" class="party-main-image" [src]="party | displayMainImage">
      <h2 class="party-name">
        <a [routerLink]="['/party', party._id]">{{party.name}}</a>
      </h2>
      @ {{party.location.name}}
      <br />
      {{party.description}}

      <button class="remove-party" md-icon-button *ngIf="isOwner(party)" (click)="removeParty(party)">
        <md-icon class="md-24">X</md-icon>
      </button>

      <div class="rsvp-container">
        <div class="rsvps-sum">
          <div class="rsvps-amount">{{party | rsvp:'yes'}}</div>
          <div class="rsvps-title">Yes</div>
        </div>
        <div class="rsvps-sum">
          <div class="rsvps-amount">{{party | rsvp:'maybe'}}</div>
          <div class="rsvps-title">Maybe</div>
        </div>
        <div class="rsvps-sum">
          <div class="rsvps-amount">{{party | rsvp:'no'}}</div>
          <div class="rsvps-title">No</div>
        </div>
      </div>
    </md-card>

    <pagination-controls class="pagination" (pageChange)="onPageChanged($event)"></pagination-controls>
  </div>
  <div class="parties-map">
    <sebm-google-map
      [latitude]="0"
      [longitude]="0"
      [zoom]="1"
      class="google-map">
      <div *ngFor="let party of parties | async">
      <sebm-google-map-marker
      *ngIf="party.location.lat"
      [latitude]="party.location.lat"
      [longitude]="party.location.lng">
      </sebm-google-map-marker>
      </div>
    </sebm-google-map>
  </div>
</div>