<form *ngIf="party" (submit)="saveParty()">
  <label>Name</label>
  <input [disabled]="!isOwner" type="text" [(ngModel)]="party.name" name="name">

  <label>Description</label>
  <input [disabled]="!isOwner" type="text" [(ngModel)]="party.description" name="description">

  <label>Location</label>
  <input [disabled]="!isOwner" type="text" [(ngModel)]="party.location.name" name="location">

  <button [disabled]="!isOwner" type="submit">Save</button>
  <a [routerLink]="['/']">Cancel</a>
</form>

<div *ngIf="isOwner || isPublic">
  <p>Users to invite:</p>
  <ul>
    <li *ngFor="let user of users | async">
      <div>{{user | displayName}}</div>
      <button (click)="invite(user)">Invite</button>
    </li>
  </ul>
</div>

<div *ngIf="isInvited">
  <h2>Reply to the invitation</h2>
  <input type="button" value="I'm going!" (click)="reply('yes')">
  <input type="button" value="Maybe" (click)="reply('maybe')">
  <input type="button" value="No" (click)="reply('no')">
</div>

<sebm-google-map
  [latitude]="lat || centerLat"
  [longitude]="lng || centerLng"
  [zoom]="8"
  (mapClick)="mapClicked($event)">
  <sebm-google-map-marker
    *ngIf="lat && lng"
    [latitude]="lat"
    [longitude]="lng">
  </sebm-google-map-marker>
</sebm-google-map>