<form [formGroup]="addForm" (ngSubmit)="addParty();upload.reset()">
  <fieldset class="form-group">
    <md-input formControlName="name" placeholder="Party name"></md-input>
    <md-input formControlName="description" placeholder="Description"></md-input>
    <md-input formControlName="location" placeholder="Location name"></md-input>

    <div class="checkbox">
      <md-checkbox formControlName="public">Public</md-checkbox>
    </div>

    <parties-upload #upload (onFile)="onImage($event)"></parties-upload>

    <button md-raised-button type="submit">Add</button>
  </fieldset>
</form>
