.file-uploading {
  opacity: 0.3;
}

.file-is-over {
  opacity: 0.7;
}

[filedrop] {
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: #f1f1f1;
  margin: 10px 0;
}
